[project]
	description = A PlatformTransactionManager based on http://commons.apache.org/transaction/file/index.html
[access "refs/*"]
	owner = group user/David J. M. Karlsen (davidkarlsen)
[access "refs/for/refs/*"]
	read = group user/David J. M. Karlsen (davidkarlsen)
	push = group user/David J. M. Karlsen (davidkarlsen)
	label-Code-Review = -2..+2 group user/David J. M. Karlsen (davidkarlsen)
	label-Verified = -1..+1 group user/David J. M. Karlsen (davidkarlsen)
	rebase = group user/David J. M. Karlsen (davidkarlsen)
	removeReviewer = group user/David J. M. Karlsen (davidkarlsen)
	submit = group user/David J. M. Karlsen (davidkarlsen)
[access "refs/heads/*"]
	read = group user/David J. M. Karlsen (davidkarlsen)
	create = group user/David J. M. Karlsen (davidkarlsen)
	push = +force group user/David J. M. Karlsen (davidkarlsen)
	pushMerge = group user/David J. M. Karlsen (davidkarlsen)
[access "refs/tags/*"]
	push = +force group user/David J. M. Karlsen (davidkarlsen)
	pushTag = group user/David J. M. Karlsen (davidkarlsen)
	pushSignedTag = group user/David J. M. Karlsen (davidkarlsen)
